.showcase-btn {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 2px solid white;
    border-top: none;
    border-bottom: none;
    margin: 0 1px;

    button {
        width: 100%;
        height: 100%;
        padding: 10px;
        background: transparent;
        cursor: pointer;
        line-height: 24px;
        color: silver;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.35rem;
        border-radius: 2px;
        border: none;
        z-index: -2px;
    }

    &:first-child {
        border-left: none;
    }

    &:last-child {
        border-right: none;
    }
    

    .bar {
        width: 100%;
        height: 0%;
        position: absolute;
        bottom: 0;
        background-color: rgb(20, 40, 154);
        z-index: -1;
        // transition: height 0.15s ease-in-out 0.05s;
    }

    &:hover {

        button {
            color:white;
        }

        .bar {
            animation: raiseBar 0.2s ease-in-out forwards;
        }
    }

    @keyframes raiseBar {
        from {
            height: 0%;
        }   

        to {
            height: 7%;
        }
    }
    
}