.header-nav {
    width: 100%;
    height: 50px;
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    z-index: 2;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    // border-bottom: 1px solid white;
    background: rgba(0, 0, 0, 0.35);

    .spade-logo {
        height: 100%;
        cursor: pointer;
        transform: scale(2);
        margin: 0 20px;
    }

    nav {
        margin: 10px 20px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .searchbar {
        width: 25vw;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: auto;
        margin-right: 130px;
        border: none;
        border-radius: 25px;
        font-family: 'Quicksand', sans-serif;
        padding: 5px;

        .search-icon {
            height: 40%;
            position: absolute;
            left: 10px;
            color: white;
            opacity: 0.6;
            cursor: pointer;
        }

        #header-nav-input {
            width: 100%;
            height: 65%;
            border: none;
            border-radius: 25px;
            background: transparent;
            color: white;
            font-size: 16px;
            padding-left: 35px;

            &::placeholder {
                color: white;
                font-size: 16px;
                opacity: 0.6;
                padding-left: 145px;
                transition: padding-left 0.7s;
            }

            &:hover {
                border: 2px solid white;
                background-color: rgba(255, 255, 255, 0.15);
                outline: none;

                &::placeholder {
                    padding-left: 0;
                    opacity: 1;
                }
            }

            &:focus {
                border: 2px solid white;
                background-color: rgba(255, 255, 255, 0.15);
                outline: none;

                &::placeholder {
                    opacity: 1;
                    padding-left: 0;
                }
            }
            
        }

        @keyframes placeholderSlide {
            from {
                padding-left: 150px;
            }

            to {
                padding-left: 0;
            }
        }
    }
    
    padding-left: 0;
    .registration-and-login {
        // width: 5vw;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 25px;

        .registration-and-login-btn {
            height: 100%;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}